.container img {
    width: 150px;
    height: auto;
    border-radius: 200px;
    float: right;
}
.container nav ul {
    list-style: none;
    display: flex;
    line-height: 150px;
    font-size: 36px;
}

.container nav ul li {
    margin-right: 25px;
}
