* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form {
    width: 900px;
    margin: 0 auto;   
}

.fieldset-flex {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btns > div {
    margin-right: 40px;
}

legend {
    font-size: 20px;
    margin-left: 5px;
}

fieldset {
    padding: 15px 10px;
    font-size: 17px;
}

fieldset > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.birthday-block > input {
    width: 165px;
}

.gender-block > div {
    display: flex;
}

.gender-block > div > label {
    margin-right: 5px;
}

.drive-block > select {
    width: 120px;
}

.contacts > div > label {
    margin-right: 20px;
}

.address-block {
    align-items: center;
}

.car-info > div > select {
    width: 130px;
}

.used-block {
    width: 80px;
}

.color-block {
    justify-content: space-between;
    width: 345px;
}

.price-block {
    flex-direction: column;
}

.price-block > input {
    width: 170px;
}

.price-block > datalist {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.btns > div > input {
    font-size: 18px;
    margin-right: 35px;
    border: 2px solid black;
    border-radius: 5px;
}

.btns > div > input:first-child {
    padding: 2.5px 7.5px;
}

.btns > div > input:last-child {
    padding: 2.5px 25px;
}