*{
    margin: 0;
    padding: 0;
}

.container ul{
    margin-left: 25px;
    list-style: none;
}

.hero img {
    width: 150px;
    height: auto;
    border-radius: 200px;
    float: right;
}
.hero nav ul {
    display: flex;
    line-height: 150px;
    font-size: 36px;
}

.hero nav ul li {
    margin-right: 25px;
}

.hero_2 img {
    width: 100px;
}

table, thead, tbody {
    border: 3px solid teal;
}

tr,th {
    border: 3px solid teal;
}